@model Farmacéutica.Models.Estados

@{
    ViewBag.Title = "Borrar";
}

<h2>Eliminar</h2>

<h3>Esta seguro de que quiere eliminar esto?</h3>
<div>
    <h4>Estados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </h2>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
